.calculator {
  border: 1px;
  border-style: solid;
  margin: 0;
  border-collapse: collapse;
  width: 40vw;
  height: 40vw;
  margin: 30vw;
  text-align: center;
  background-color: #61B34F;
  font-size: 22pt;
  color: white;
  font-weight: 300;
}
.cell-block {
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
}

#divide {
  background-color: #82C276;
  border-color: white;
  color: black;
}

#multiply {
  background-color: #82C276;
  border-color: white;
  color: black;
}

#subtract {
  background-color: #82C276;
  border-color: white;
  color: black;
}

#addition {
  background-color: #82C276;
  border-color: white;
  color: black;
}

#addition:hover {
 color: white;
}

#subtract:hover {
 color: white;
}
#multiply:hover {
 color: white;
}
#divide:hover {
 color: white;
}

#clear:hover {
  background-color: #82C276;
}
#equals:hover {
  background-color: #82C276;
}

input {
  border: none;
  background-color: #61B34F;
  color: white;
  padding: 50px;
  font-size: 16pt;
  font-weight: 300;
}

input[type="button"] {
  outline: none;
}
